html {
  background-image: url(back.jpg);
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right top;
  
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #53686c;
  font-weight: bold;
}

li a {
  float: left;
  display: block;
  padding: 14px 16px;
  background-color: #53686c;
  color: white;
}

li a:hover {
  background-color: #21686c;
}


